
#personales,#jugadores,#logueo,#juegos,#nuevo_juego,#nuevo_jugador{
    display:none;
    position: fixed;
    z-index: 100;
    margin: 0px 38%;
    
}

.cerrar{
    background: green;
    color: red;
    float: right;
    border-radius: 50%;
    height: 40px;
    width: 40px;
        
}

.cerrar h1{
   text-align: center;
   margin: 6px; /*espacio alrededor texto*/
   
}


.button {
    background-color:#008CBA; /* Green */
    border: none;
    color: white;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    color: black;
    border-radius: 8px;
  }


.button2 {background-color: #008CBA;  color: black; font-size: 10px; font-weight: bold;border-radius: 8px;} /* Blue */
.button3 {background-color: #008CBA;  color: black; font-size: 10px; font-weight: bold; border-radius: 8px;} /* Red */ 
.button4 {background-color: #008CBA; color: black; font-size: 10px; font-weight: bold; border-radius: 8px;} /* Gray */ 
.button5 {background-color: #008CBA;  color: black;font-size: 10px; font-weight: bold; border-radius: 8px;} /* Black */


#column1{
    margin: 10px;
    float: left; width: 12%;
    
    text-align: center;
  

}

#column2{
    margin: 10px;
    float: right; width: 9%;
    
    text-align: center;

}


.button6 {
    background-color: #4CAF50;; /* Green */
    border: none;
    color: white;
    padding: 30px 30px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    color: black;
    border-radius: 50%;
  }


.button7 {background-color: #4CAF50;  color: black; font-size: 10px; border-radius: 50%; padding: 30px 30px;} /* Blue */
.button8 {background-color: 	#FFFF00;  color: black; font-size: 10px;  border-radius: 50%;padding: 30px 30px;} /* Red */ 
.button9 {background-color: 	#FFFF00; color: black; font-size: 10px;  border-radius: 50%; padding: 30px 30px;} /* Gray */ 
.button10 {background-color: #008CBA;  color: black;font-size: 10px;  border-radius: 50%; padding: 30px 30px;} /* Black */

.button11 {background-color: #008CBA; color: black; font-size: 10px;  border-radius: 50%; padding: 30px 30px;} /* Gray */ 
.button12 {background-color: #f44336; color: black;font-size: 10px;  border-radius: 50%; padding: 30px 30px;} /* Black */

.button13 {background-color: #f44336;  color: black;font-size: 10px;  border-radius: 50%; padding: 30px 30px;} /* Black */







